<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875849924015-p2o75j1jt442o4ndjjtd93an0vpnf1so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875849924015-p2o75j1jt442o4ndjjtd93an0vpnf1so</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>875849924015-bgtp9p4un5vb2ubh7k9mkfklhjk1bmg9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbKHWS5kLv0kPcCBdRJyLV3lFB7YbmS1s</string>
	<key>GCM_SENDER_ID</key>
	<string>875849924015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.1998apoorvmalik.Dji-Drone-Automation</string>
	<key>PROJECT_ID</key>
	<string>droneapplication-79928</string>
	<key>STORAGE_BUCKET</key>
	<string>droneapplication-79928.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875849924015:ios:c9ed03ca466289a5</string>
	<key>DATABASE_URL</key>
	<string>https://droneapplication-79928.firebaseio.com</string>
</dict>
</plist>